{% extends 'universidad/base.html' %}

{% block header %}
    Materias: Registro
{% endblock header %}

{% block main %}
    <form action="{% url 'materia_list' %}" method="get">
        <input type="text" name="q" placeholder="Buscar por materia...">
        <button type="submit">Buscar</button>
    </form>
    <button>
        <a href="{% url 'materia_create' %}">Crear Registro</a>
    </button>
    {% for object in object_list %}
        <p>{{ object.nombre }} | {{ object.turno_de_cursada }} </p>
    {% empty %}
        <p>No hay registros de materias</p>
    {% endfor %}
{% endblock main %}